// Primary color and variations
$primary-color: #91f9e5;
$primary-color-dark: #177e89;
$primary-color-highlight: #fdca40;

// Reset styles
html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

// general stuff
body {
  font-family: "Calibri", Arial, Helvetica, sans-serif;
  font-size: 18px;

  &.dark {
    background-color: #333;
    color: #fff;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.1rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@import "header";
@import "main";
@import "footer";

@import "button";
@import "table";
@import "form";

@import "quick-add";
@import "raw-data";
@import "hint";

.error {
  color: red;
}

.ml-1 {
  margin-left: 1em;
}

#demo-top-bar {
  background-color: #ff4d36;
  padding: 0.5em 1em;
  border: 1px solid black;
}

#planning-subnav {
  display: flex;
  gap: 1em;
  margin: 1em 1em;
}

.dashboard-body {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

// page specific
@import "index";
