// Primary color and variations
$primary-color: #91f9e5;
$primary-color-dark: #177e89;
$primary-color-highlight: #fdca40;

// Reset styles
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Calibri", Arial, Helvetica, sans-serif;

  &.dark {
    background-color: #333;
    color: #fff;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Header with navigation
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: $primary-color;

  .logo {
    max-height: 75px;
  }

  nav {
    ul {
      display: flex;
      list-style: none;

      li + li {
        margin-left: 20px;
      }

      a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
      }

      a:hover {
        color: $primary-color-highlight;
      }
    }
  }

  .left {
    display: flex;
    flex: 4;
    justify-content: space-around;
    align-items: center;
  }

  .right {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
  }

  .lang-select {
    display: flex;

    button {
      border: none;
      background: none;
      margin: 0 0.5em;
      padding: 0;

      &.selected {
        text-decoration: underline;
      }
    }
  }
}

// Main container
#login-content,
#register-content,
main {
  flex: 1;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 1em;
  gap: 1em;

  // Side panel with links
  .side-panel {
    width: 200px;

    ul {
      list-style: none;

      li + li {
        // margin-top: 10px;
      }

      a {
        display: block;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        padding: 1em 2em;
        text-transform: uppercase;

        &.selected,
        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }

  // Content container
  .content {
    flex: 1;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary-color-dark;
    }

    p {
      color: #333;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

// Footer
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: $primary-color;

  p {
    color: #fff;
    font-size: 14px;
  }
}

// Button styles
button,
.btn {
  display: inline-block;
  padding: 0.7em 1.6em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;

  &.small {
    padding: 0.2em 0.9em;
    font-size: 1em;
  }

  &.big {
    padding: 1em 2em;
    font-size: 1.2em;
  }

  &.primary {
    background-color: $primary-color-highlight;
    color: #333;

    &:not(:disabled):hover {
      background-color: darken($primary-color-highlight, 15%);
    }
  }

  &.secondary {
    background-color: white;
    border: 1px solid #ccc;
    color: #333;

    &:not(:disabled):hover {
      background-color: #f6f6f6;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// Table styles
table {
  // width: 100%;
  border-collapse: collapse;
  display: block;
  overflow: auto;
  max-height: 80vh;
  max-width: 85vw;
  padding-right: 17px;

  th,
  td {
    border: 1px solid #ccc;
    padding: 4px 8px;
    text-align: right;
    white-space: nowrap;

    &:first-of-type {
      text-align: left;
    }

    &.has-children {
      cursor: pointer;
      text-decoration: underline;
      position: relative;

      .arrow {
        position: absolute;
        margin-left: 1em;
        rotate: 90deg;
      }

      .open {
        &.arrow {
          rotate: 0deg;
        }
      }
    }

    &.br {
      border-right: 1px solid black;
    }

    &.bl {
      border-left: 1px solid black;
    }

    &.r {
      background-color: #f17665;
    }

    &.g {
      background-color: #71c471;
    }

    $i: 0;
    @while $i <= 100 {
      &.gp-#{$i} {
        background: linear-gradient(
            to right,
            #{"#71c471 #{$i}%"},
            #{"transparent #{$i}%"}
          )
          no-repeat;
      }

      &.rp-#{$i} {
        background: linear-gradient(
            to right,
            #{"#f17665 #{$i}%"},
            #{"transparent #{$i}%"}
          )
          no-repeat;
      }

      $i: $i + 1;
    }
  }

  th {
    background-color: #f6f6f6;
    text-align: center;

    &.current-month {
      background-color: $primary-color-highlight;
    }
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 50;
  }
}

#demo-top-bar {
  background-color: #ff4d36;
  padding: 0.5em 1em;
  border: 1px solid black;
}

#planning-subnav {
  display: flex;
  gap: 1em;
  margin: 1em 1em;
}

.month-select {
  display: flex;
  align-items: center;
  gap: 1em;

  .month {
    padding: 0.2em 0.5em;

    &.current {
      background-color: $primary-color-highlight;
    }
  }
}

.dashboard-body {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

.filter-text {
  margin-bottom: 1em;
}

.statement-cell {
  position: relative;

  &.selected {
    box-shadow: 0px 0px 5px 5px $primary-color-highlight;
  }
}

.preview-statements {
  position: absolute;
  top: 0;
  left: 105%;
  z-index: 50;

  background-color: $primary-color;

  box-shadow: 3px 3px 5px 0px;

  & > div {
    padding: 0.5em 2em;

    min-width: 200px;
    max-width: 400px;
    max-height: 100px;

    overflow-y: auto;
    overflow-x: hidden;

    & > div {
      display: flex;
      gap: 1em;
      flex-direction: row;
      justify-content: space-between;
      white-space: nowrap;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    background-color: #f17665;
    border-radius: 50%;
    padding: 3px;
    translate: 50% -50%;
  }
}

.head-wrapper {
  display: flex;
  margin-bottom: 1em;
  align-items: center;

  button {
    height: 2em;
    width: 2em;
    padding: 3px;
    margin-left: 2em;
  }
}

.quick-add {
  position: relative;

  .dropdown-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
    background-color: white;
    border: 1px solid black;

    & > div {
      cursor: pointer;
      padding: 0.3em;
    }

    .selected {
      background-color: $primary-color-dark;
    }
  }
}

#raw-data-editor {
  position: fixed;
  right: 100%;
  top: 0;
  height: 100vh;
  width: 600px;
  z-index: 1000;
  outline: 1px solid black;
  background-color: white;

  &.show {
    left: 0;
  }

  .toggle {
    position: absolute;
    left: 100%;
    bottom: 20px;
    background-color: $primary-color-dark;
    padding: 1em;
    border: 1px solid black;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .edit-box {
      height: 100%;
      margin: 1em;

      textarea {
        height: 100%;
        width: 99%;
        resize: none;
      }
    }

    .controls {
      display: flex;
      justify-content: space-evenly;
      padding: 0.5em 0;
    }
  }
}

@import "form";
