.main {
  display: block;
  margin: 0;
}

section {
  padding: 30px 0;

  &:nth-child(even) {
    background-color: $primary-color-dark;
    color: white;
  }

  .sitewidth {
    max-width: 1020px;
    margin: 0 auto;
  }
}

h3 {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

ul {
  padding-left: 20px;
}

.init {
  display: flex;
  gap: 2em;
  justify-content: space-around;

  img {
    box-sizing: border-box;
  }
}
